#settings {
    padding-left: 2em;
    padding-right: 2em;
}

#settings table {
    width: 100%;
}

#settings table td {
    width: 50%;
    vertical-align: top;
}

#settings input[type="range"] {
    width: 80%;
}

#settings #ExcludedNumber {
    width: 100%;
    height: 30em;
    border: 0.0125em solid black;
    overflow-y: scroll;
}

#settings span {
    padding-left: 1.5em;
}

#settings label:hover {
    background-color: lightblue;
}

#settings b {
    margin-right: 3em;
}

#settings button {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
}